* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1e1e1;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #fff;
    min-height: 100vh;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: rgb(7, 29, 129);

}

.nav-links {
    flex-grow: 1;
}

.nav-link {
    color: #373636;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 6px;
    margin-bottom: 4px;
    font-weight: 600;
}

.nav-link:hover {
    background-color: #f8f9fa;
    color: #333;
}

.nav-link.active {
    color: rgb(7, 29, 129);
    background-color: #eff6ff;
}

.logout-link {
    color: #ef4444;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 12px;
}

.logout-link:hover {
    color: #dc2626;
}

.btn {
    background-color: rgb(7, 29, 129);
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background-color: #aecdf6;
    color: rgb(7, 29, 129);
    font-weight: 600;
}

.main {
    margin-left: 220px;
    padding: 30px;
}

.avatar {
    width: 36px;
    height: 36px;
    background-color: rgb(7, 29, 129);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}


.table thead th {
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.table tbody td {
    font-size: 15px;
    color: #333;
    vertical-align: middle;
}

.car-plate {
    font-weight: bold;
    font-size: 15px;
}

.car-owner {
    font-size: 11px;
    color: #999;
    margin-top: 2px;
}

.status {
    font-size: 14px;
}

.status::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.status.completed::before {
    background-color: #00ff4c;
}

.status.in-progress::before {
    background-color: #ff6a00;
}

.status.pending::before {
    background-color: #ffd500;
}